.faq-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 6px;
}

.faq-count {
    color: #6b6b6b;
    margin-bottom: 20px;
}

/* Container */
.faq-container {
    border: 1px solid #d8dde6;
    border-radius: 4px;
    background: #fff;
    max-height: fit-content;
}

/* Each item */
.faq-item {
    border-bottom: 1px solid #d8dde6;
}

/* Header */
.faq-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 20px;
    background: #fff;
    cursor: pointer;
    position: relative;
    /* transition: background 0.35s, border-left 0.35s; */
    transition: max-height 0.30s cubic-bezier(0.4, 0, 0.2, 1);
    border-left: 4px solid transparent;
}

.faq-header.open {
    border-left: 4px solid #d0021b;
    background: #fff;
}

/* Question */
.faq-question {
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: color 0.30s, padding-left 0.30s;
}

.faq-question.open {
    color: #d0021b;
    padding-left: 5px;
}

/* Icon */
.faq-icon {
    --slds-c-icon-color-foreground-default: #6b6b6b;
    font-size: 18px;
}

/* Content wrapper */
.faq-content {
    display: flex;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    background: #fff;
    border-left: 4px solid transparent;
}

/* Open animation */
.faq-content.open {
    max-height: none;   /* ✅ allow full expansion */
    overflow: visible; 
    border-left: 4px solid #d0021b;
}

/* Body */
.faq-content-body {
    padding: 18px 20px;
    flex: 1;
}

/* Helpful section */
.faq-helpful {
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.faq-question:hover {
    color: #d0021b;
}
.liked-icon {
    --slds-c-icon-color-foreground: #1b9cfc;
}

.unliked-icon {
    --slds-c-icon-color-foreground: #95a5a6;
}
.faq-feedback-btn {
    background: transparent;
    border: none;
    padding: 4px;
    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

/* Hover effect */
.faq-feedback-btn:hover {
    transform: scale(1.4);
    --slds-c-icon-color-foreground-default: #e0245e;
}

/* Click (pressed) effect */
.faq-feedback-btn:active {
    transform: scale(0.9);
    --slds-c-icon-color-foreground-default: #e0245e;
}
.liked lightning-icon {
    --slds-c-icon-color-foreground-default: #e0245e;
}
/* For LIKE */
lightning-icon.selected-icon {
    --slds-c-icon-color-foreground-default: #e0245e;
}
.button-container {
    display: flex;
    margin-top: 5px;
    align-items: center;
    justify-content: space-between;
}
.success-msg {
    text-align: center;
    color: green;
    margin-top: 8px;
    font-size: 14px;
}
.show-more-btn {
    --slds-c-button-brand-color-background: #d0021b;
    --slds-c-button-brand-color-border: #d0021b;
    --slds-c-button-text-color: #ffffff;
    padding-right: 24px;
    text-align: center;
    min-width: 100px !important;

}