.divider {
  border: none;
  border-top: 1px solid #ddd;
  margin-bottom: 20px;
}
.feedback-btn {
      display: inline-flex;
      align-items: center;
      gap: 8px;
      border: 1px solid #000;
      padding: 10px 15px;
      border-radius: 6px;
      cursor: pointer;
      font-weight: 500;
      margin-bottom: 30px;
    }
    .faq-question:hover {
      background: #f0f0f0;
    }

    .arrow {
      transition: transform 0.3s ease;
    }

    .faq-item.active .arrow {
      transform: rotate(180deg);
    }